<div id="main" class="clear">
  <div id="head" class="clear">
    <h1>Relatóriosde Frequencia</h1>
  </div>
  <%= render :partial => "admin/status_controlls/partials/frequency_reports", :locals =>{:reports => @status_vacancies}%>
</div>