<div id="main" class="clear">
  <div id="head" class="clear">
    <h1>Relatório por tempo de ociosidade</h1>
  </div>
  <%= render :partial => "admin/status_controlls/partials/idleness_reports", :locals =>{:reports => @status_vacancies}%>
</div>