<div id="main" class="clear">
  <div id="head" class="clear">
    <h1>Relatórios</h1>
  </div>
  <div class="quickLink">
    <a href="<%= analytic_reports_path %>"><img src="/images/encore/ico/report.png" alt="Relatório detalhado"/><span>Relatório detalhado</span></a>
  </div>
  <div class="quickLink">
    <a href="<%= analytic_reports_path %>"><img src="/images/encore/ico/report.png" alt="Relatório por horas ocupadas"/><span>Relatório por horas ocupadas</span></a>
  </div>
  <div class="quickLink">
    <a href="<%= analytic_reports_path %>"><img src="/images/encore/ico/report.png" alt="Relatório por quantidade de vezes ocupada"/><span>Relatório por quantidade de vezes ocupada</span></a>
  </div>
</div>
