<% params_vacancies %>
<% vacancies.each do |vacancy|%>
	<div class="maps">
	  <%if !params_vacancies || (params_vacancies.to_s.include?(vacancy.id.to_s))%>
	  	<%= check_box_tag("vacancy[]", vacancy.id, nil, :checked => true, :multiple => true ) %>
	  <% else %>
	  	<%= check_box_tag("vacancy[]", vacancy.id) %>
	  <% end %>
	  <%= label_tag(:vacancy, vacancy.codigo) %>
	</div>
<% end %>
<% if vacancies.blank? %>
	<p class="red">Não existem vagas associadas a esse mapa</p>
<% end %>
