/* CSS para Uma marcacao - Varios templates */
/* Estilos geral */
body {
	margin:0;
	padding:1%;
	font: 14px/1.5 Verdana, Arial, Helvetica, sans-serif;
	background:#000;
	color:#333;
	text-align:center;
	}
#tudo {
	width:750px;     
	margin:0 auto;
  text-align:left;
  color:#FFF;
	}
#topo {
	height:50px;
  text-align:center;
}
#logo{text-align:left;margin-top:-7%;}
#rodape {
	clear:both;
	text-align:center;
	}
ul, ol {
	margin:0;
	padding:0;
	list-style:none;
	}
h1, h2, h3 {
	margin: 0.8em 0;
	color:#FF9900;
	font-size:1.6em;
	}
h2 {
	font-size:1.4em;
	}
h3 {
	font-size:1.2em;
	}
	
.dest {
	color:#039;
	}
/* Estilos para template de 3 colunas */
#principal {
	float:left;
	width:460px;
	margin-left:10px; 	
	text-align:justify;
	padding: 0 10px;
	}
#nav {
	width:120px;
	float:left;
	}
#apoio {
	width:120px;
	float:right;
	}
/* Estilos para template duas colunas - navegacao esquerda */
body#duascolunas #apoio {
	display:none;
	}
body#duascolunas #principal {
	width:600px;
	padding-right:0;
	}
/* Estilos para template duas colunas - navegacao esquerda opcao de fonte e fundo */
body.duascolunas-a #topo, body.duascolunas-a #rodape{
	font: 11px Verdana, Arial, Helvetica, sans-serif; 	
	background:#000; 
	padding-bottom:1px;
	}
body.duascolunas-a	{
	background:#000;
	font: 14px Georgia, "Times New Roman", Times, serif;
	}
body.duascolunas-a #principal  {
	color:#FFF;
	}
/* Estilos para template duas colunas -  navegacao direita */
body#duascolunas-dir #nav, body#duascolunas-dir #apoio  {
	width:130px;
	float:right;
	padding:0 0 10px 10px;
	}
body#duascolunas-dir #principal {
	width:580px;
  margin:0;
	}
/* Estilos para template de uma coluna com navegacao horizontal */ 
body.umacoluna #tudo  {width:98%;}
body.umacoluna #nav	{
	float:none;
	}
body.umacoluna  #topo, body.umacoluna #tudo #principal, body.umacoluna  #rodape { 
	margin:0;
	width:100%; 
	}
body.umacoluna #nav {
	width: 100%;
	font: 11px Geneva, Arial, Helvetica, sans-serif;
	list-style-type: none;
	}
body.umacoluna #nav h3 { display:none;}
body.umacoluna #nav li {
	float: left;
	text-align:center;
	}
body.umacoluna #nav li a, body.umacoluna #nav li a:link {
	background: #fff;
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
	padding: 3px;
	display: block;
	}
body.umacoluna #nav li a:hover {
	color: #FFF;
	background: #fafafa;
	}
/* Fim das regras CSS para templates */

#menuhor {
border:none;
margin: 0;
font: 14px Arial, sans-serif;
}
#menuhor li {
list-style: none; 
margin: 0;

display: inline;
}
#menuhor #acesso a {
  background: #FF9900;
  }
#menuhor #sobre a {
  background: #330033;
  }
#menuhor #clients a {
  background: #52A300;
  }
#menuhor li a {
height:2px; /* IE5.0 bug */
margin:0;
padding: 15px 20px;
border: 2px solid #000; 
text-decoration: none;
}
#menuhor li a:link {
color: #fff;
}
#menuhor li a:visited {
color: #fff;
}
#menuhor li a:hover {
background: #ccc;
color: #000; 
padding: 25px 20px;
}
