/* Layout */

html, body { height: 100%; }
body {
    font: normal 77% 'Segoe UI', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover { text-decoration: none; }
img { border: 1px solid #ddd; }
#wrapper {
    width: 890px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
    text-align: left;
}
#push {
    height: 100px;
    clear: both;
}
#wrapFooter {
    width: 940px;
    margin: 0 auto;
    text-align: left;
}
strong { font-weight: bold; }
# dt, dd {
#     float: left;
#     display: block;
#     border-bottom: 1px solid #ccc;
#     padding: 3px 0;
# }
# dt {
#     clear: left;
#     font-weight: bold;
# }