<div class="quickLink">
  <a href="/maps"><img src="/images/encore/ico/icoWriteArticle.png" alt="Adicionar provas"/><span>Gerenciar Mapas</span></a>
</div>

<div class="quickLink">
  <a href="/vacancies"><img src="/images/encore/ico/icoWriteArticle.png" alt="Adicionar provas"/><span>Gerenciar Vagas</span></a>
</div>

<div class="quickLink">
  <a href="<%= reports_path%>"><img src="/images/encore/ico/icoWriteArticle.png" alt="Adicionar provas"/><span>Visualizar Relatórios</span></a>
</div>
