<div class="field clear">
  <%= raw vacancy_status(vacancy) %>
  <a class="hint" href="#">
    <img src="/images/encore/ico/icoHint.png" alt="Hint" class="hint"/>
    <span>A vaga se encontra disponível para ser utilizada?.</span>
  </a>
</div>