<div id="main" class="clear">
  <div id="head" class="clear">
    <h1>Relatórios</h1>
  </div>
  <%= render :partial => "status_controlls/partials/reports", :locals =>{:reports => @status_vagas}%>
</div>