<div class="field clear">
  <%= raw vaga_status(Logs.vagas["#{vaga.cod_arduino}"]) %>
  <a class="hint" href="#">
    <img src="/images/encore/ico/icoHint.png" alt="Hint" class="hint"/>
    <span>A vaga se encontra disponível para ser utilizada?.</span>
  </a>
</div>