<div class="field clear">
  <%= label_tag :situação%>
  <p>
    <% if Logs.vagas["#{vaga.cod_arduino}"] == StatusControll::RESTRICTED %>
      Interditada
    <%elsif Logs.vagas["#{vaga.cod_arduino}"] == StatusControll::AVAILABLE%>
      Disponível
    <%else%>
      Ocupada
    <%end%>
  </p>
  <a class="hint" href="#">
    <img src="/images/encore/ico/icoHint.png" alt="Hint" class="hint"/>
    <span>A vaga se encontra disponível para ser utilizada?.</span>
  </a>
</div>