<h2>Vagas</h2>
<% if (map.vacancies.map(&:eixo_x)-[nil]).length.zero? %>
  <%= show_msg("Para manipular a vaga é necessário a selecionar e arrastar para o lugar desejado.", :message) %>
<% end %> 
<%map.vacancies.each do |vacancy| %>
  <%= link_to_add_vacancy(vacancy, true)%>
<% end %>